*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

img{
    cursor: pointer;
}

/** Styles for the Navabar*/

.flexNavBar{
    display: flex;
    align-items: center;
}

nav{
    padding: 1vw 2vw;
    justify-content: space-between;
    width: 100vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

/** Styles for the menu-Icon and the YouTube logo */
.navSection1 .menu{
    width: 2VW;
    margin-right: 2VW;
}

.navSection1 .youtubeLogo{
    width: 10vw;
}

/** Styles for the search bar, search icon and the mic Icon */
.navSection2 .micIcon{
    width: 1.3vw;
}

.navSection2 .searchBox{
    border: 1px solid gray;
    border-radius: 2vw;
    padding: 0.5vw 1vw;
    margin-right: 2vw;
}

.navSection2 .searchBox input{
    width: 25vw;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.navSection2 .searchBox img{
    width: 1.1vw;
}

/** Styes for user icon, notificatios icon, upload icon and more */
.navSection3 img{
    width: 2vw;
    margin-right: 1vw;
}

.navSection3 .userIcon{
    width: 3vw;
    margin-right: 0;
}

/**  Sidebar Styles */

.sideBar{
    width: 15vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    padding-left: 1.5vw;
    padding-top: 7vw;
}
/** Styles for the shortcuts section in the sidebar */
.shortcutsIcons a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    margin-bottom: 1.2vw;
}

.bx{
    font-size: 2vw;
    margin-right: 1vw;
}

.shortcutsIcons a img{
    width: 2vw;
    margin-right: 1vw;
}


.shortcutsIcons a:hover{
    color:  #c4302b;
    transition: color .3s ease, color .3s ease;
}

.sideBar hr{
    border: 0;
    height: 0.1vw;
    width: 12vw;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #ccc, rgba(0,0,0,0) );
}

/** Styles for the subscribed channels */
.subscribedChanels h3{
    font-size: 1.2vw;
    margin: 1vw 0;
    color: #5a5a5a;
}

.subscribedChanels a{
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    column-gap: 1vw;
    margin-bottom: 1.2vw;
    width: fit-content;
}

.subscribedChanels img{
    width: 2.1vw;
    border-radius: 50vw;
    shad
}